/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* VARIABLES */
:root {
  --secondary-bg-color: #d6cfd2;
  --primary-heading-color: #b89661;
  --heading-color: #3f4842;
  --accent-color: #E75C00;
}

body{
  background-color: #ffff;
  margin: 0 80px 0 80px;
}

.logo{
 
  width: 90px;
  height: 90px;
}

.menu-selected{
   color: #E75C00;
   padding-left: 5px;
   padding-right: 5px;
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
   
}



.welcome-menu{
  display: flex;
  align-content: right;
  color: #484045;
  justify-content: space-around;
  margin: 50px 0 50px 1150px;
  max-width: 900px;
   
}

.welcome-intro{
  display:flex;
   flex-direction: column;
   align-content: right;
  

}



.self-picture{
  margin-top: 150px;
  width: 350px;
  height: 350px;

}


.project-intro{
  display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}



h1{
  font-size: 3rem;
  margin: 100px 20px 0 20px;
}



h2{
  display: flex;
  justify-content: left;
  font-family: 'Poppins', sans-serif;
 color:  #E75C00;
   font-size: 2.25rem;
   margin: 0 20px 0 20px;
}

.orange{
 color:   #E75C00;
 margin-right: 10px;
 margin-left: 10px;
}

p{
  margin: 100px 800px 100px 20px;
}


nav{
  display: flex;
  flex-direction: row;
  color: #484045;
  font-size: 1.75rem;

 
}



.menu-items{
  transition: all .2s ease-in-out;
}




.menu-items:hover {
   color: var(--accent-color);
   transform: scale(1.4);
   padding-left: 5px;
   padding-right: 5px;
}


a{
  text-decoration: none;
  color: inherit;
}

.profile-picture{
margin-left: 580px;

  width: 300px;

  height: 300px;
}






.title{
  margin-top:80px;
  text-align: end;
  color: #3f4843;
  padding-bottom: 5px;
  padding-right: 80px;
  font-size: 2rem;
   font-family: 'Poppins', sans-serif;
 
  
  

}





.resume-main{
 
   display:flex;
  flex-direction: column;
  align-self: center;
  margin: 0 30px 0 30px;

}







.language-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 2.8rem;
  text-align: center;
  color:  var(--accent-color);
  padding: 0;

  
}


.language-text {
  
  font-size: 1.1rem;
  color: var(--accent-color);
  
}


li{
  list-style: none;
  margin: 0 5px;
}

.rows{
 display:flex;
 flex-direction: row;
 justify-content: center;
 margin-bottom: 80px;
 margin-top: 60px;
 flex-wrap: wrap;
}



.italic{
  margin: 0;
  font-style: italic;
}


h3{
  font-weight: bolder;
  margin:0;
  color: var(--accent-color);
  font-size: 1.5rem;
}

.connect-title{
  display: flex;
  flex-direction: row;
  text-align: center;
 
  color: #E75C00;
}


.connect-start{
  display:flex;
  flex-direction: row;
  align-self: center;

}


.side-bar-icons{
  display: flex;
  flex-direction: column;
  justify-content: left;

  color:  #E75C00;
  font-size: 1.5rem;
  text-decoration: none;

}

.icon-link {
 margin: 0 15px 0 15px;

  
}

.icon-link:hover {
  transform: scale(1.5);
  color: #03989e;
}


form{
  display: flex;
  flex-direction: column;
  margin: 0 400px 20px 400px;
}

.form-text-box{
  outline: none;
  padding: 10px;
  
  border: 1px #484045 solid;
  resize: none;
  background-color: #fafafa;
  color: #484045;
  width: 100%;

  margin: 0 0 20px 0;
  box-sizing: border-box;
}

.send-button{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 2px #E75C00 solid;
  font-size: 1.2rem;
  color: #ffff;
  background-color: #E75C00;
  padding: 5px 35px 5px 35px;
  cursor: pointer;
  margin: 0 auto;
}

.send-button:hover {
  transform: scale(1.2);
  color:  #fafafa;
  border: 2px #03989e solid;
  background-color: #03989e;
   
}



.form-text-box:active, input:focus , textarea:focus {

  border: 2px solid var(--accent-color);
  
}

.jumpbull-project{
  
  margin-left: 100px;
  margin-top: 20px;
  max-width: 572px;
  max-height: 314px;
  -webkit-box-shadow: 0 2px 4px rgb(1 14 40 / 5%);
  box-shadow: 0 2px 4px rgb(1 14 40 / 5%);
  transition: box-shadow .25s linear,-webkit-box-shadow .25s linear;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 0.25s, 0.25s;
  transition-timing-function: linear, linear;
  transition-delay: 0s, 0s;
  transition: all .2s ease-in-out;
}

.jumpbull-project:hover{
  transform: scale(1.2);
  -webkit-box-shadow: 0 10px 20px rgb(1 14 40 / 10%);
  box-shadow: 0 10px 20px rgb(1 14 40 / 10%);
  color: #E75C00;
}

/* DESKTOP RESPONSIVE DESIGN */
@media only screen and (min-width: 690px) {
  .side-bar {
    position: fixed;
  }
  .main {
    position: absolute;
  }
}


.hero-wrap {
  display: flex;
  margin: 40px auto;
}

.hero-wrap div {
  max-width: 300px;
  min-width: 300px;
}

.accent-color {
  color: var(--accent-color);
}

.bio-section {
  font-style: italic;
  font-weight: 100;
  border-right: 1px solid #a6a6a6;
  font-family: 'Noto Serif';
  font-size: 22px;
  text-align: center;
  padding-right: 40px;
}

.bio-section p {
  margin-left: auto;
  line-height: 1.5;
  color: #484045
}

.intro-section {
  font-family: 'Oswald';
  font-size: 32px;
  font-weight: bold;
}

.intro-section p {
  padding-left: 40px;
  margin: 22px 0;
  line-height: 1.5;
  color: #484045
}